In [1]:
import pandas as pd

In [2]:
#read in csv
happiness_df = pd.read_csv("code/happiness.csv", index_col=0)

happiness_df

,Country,Happiness,GDP per Capita,Social Support,Life Expectancy,Freedom,Corruption,Generosity,Year
0,Switzerland,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2015
1,Iceland,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2015
2,Denmark,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2015
3,Norway,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2015
4,Canada,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2015
...,...,...,...,...,...,...,...,...,...
1079,Lesotho,3.512,7.92600,0.78700,48.70000,0.71500,-0.13100,0.91500,2021
1080,Botswana,3.467,9.78200,0.78400,59.26900,0.82400,-0.24600,0.80100,2021
1081,Rwanda,3.415,7.67600,0.55200,61.40000,0.89700,0.06100,0.16700,2021
1082,Zimbabwe,3.145,7.94300,0.75000,56.20100,0.67700,-0.04700,0.82100,2021
1083,Afghanistan,2.523,7.69500,0.46300,52.49300,0.38200,-0.10200,0.92400,2021

In [3]:
#filter out years outside of 2018-2021
interest_years = happiness_df[happiness_df['Year'] > 2017]
interest_years

,Country,Happiness,GDP per Capita,Social Support,Life Expectancy,Freedom,Corruption,Generosity,Year
470,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393,2018
471,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340,2018
472,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408,2018
473,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138,2018
474,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357,2018
...,...,...,...,...,...,...,...,...,...
1079,Lesotho,3.512,7.926,0.787,48.700,0.715,-0.131,0.915,2021
1080,Botswana,3.467,9.782,0.784,59.269,0.824,-0.246,0.801,2021
1081,Rwanda,3.415,7.676,0.552,61.400,0.897,0.061,0.167,2021
1082,Zimbabwe,3.145,7.943,0.750,56.201,0.677,-0.047,0.821,2021
1083,Afghanistan,2.523,7.695,0.463,52.493,0.382,-0.102,0.924,2021

In [4]:
# removing any n/a
clean_happiness = interest_years.dropna(axis=0, how="any")
clean_happiness

,Country,Happiness,GDP per Capita,Social Support,Life Expectancy,Freedom,Corruption,Generosity,Year
470,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393,2018
471,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340,2018
472,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408,2018
473,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138,2018
474,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357,2018
...,...,...,...,...,...,...,...,...,...
1079,Lesotho,3.512,7.926,0.787,48.700,0.715,-0.131,0.915,2021
1080,Botswana,3.467,9.782,0.784,59.269,0.824,-0.246,0.801,2021
1081,Rwanda,3.415,7.676,0.552,61.400,0.897,0.061,0.167,2021
1082,Zimbabwe,3.145,7.943,0.750,56.201,0.677,-0.047,0.821,2021
1083,Afghanistan,2.523,7.695,0.463,52.493,0.382,-0.102,0.924,2021

In [5]:
#filter data for pre-COVID
pre_covid = clean_happiness[clean_happiness['Year'] < 2020]
pre_covid

,Country,Happiness,GDP per Capita,Social Support,Life Expectancy,Freedom,Corruption,Generosity,Year
470,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393,2018
471,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340,2018
472,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408,2018
473,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138,2018
474,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357,2018
...,...,...,...,...,...,...,...,...,...
777,Rwanda,3.334,0.359,0.711,0.614,0.555,0.217,0.411,2019
778,Tanzania,3.231,0.476,0.885,0.499,0.417,0.276,0.147,2019
779,Afghanistan,3.203,0.350,0.517,0.361,0.000,0.158,0.025,2019
780,Central African Republic,3.083,0.026,0.000,0.105,0.225,0.235,0.035,2019
781,South Sudan,2.853,0.306,0.575,0.295,0.010,0.202,0.091,2019

In [6]:
#filter data for during/post-COVID
post_covid = clean_happiness[clean_happiness['Year'] >= 2020]
post_covid

,Country,Happiness,GDP per Capita,Social Support,Life Expectancy,Freedom,Corruption,Generosity,Year
782,Finland,7.8087,10.639267,0.954330,71.900825,0.949172,-0.059482,0.195445,2020
783,Denmark,7.6456,10.774001,0.955991,72.402504,0.951444,0.066202,0.168489,2020
784,Switzerland,7.5599,10.979933,0.942847,74.102448,0.921337,0.105911,0.303728,2020
785,Iceland,7.5045,10.772559,0.974670,73.000000,0.948892,0.246944,0.711710,2020
786,Norway,7.4880,11.087804,0.952487,73.200783,0.955750,0.134533,0.263218,2020
...,...,...,...,...,...,...,...,...,...
1079,Lesotho,3.5120,7.926000,0.787000,48.700000,0.715000,-0.131000,0.915000,2021
1080,Botswana,3.4670,9.782000,0.784000,59.269000,0.824000,-0.246000,0.801000,2021
1081,Rwanda,3.4150,7.676000,0.552000,61.400000,0.897000,0.061000,0.167000,2021
1082,Zimbabwe,3.1450,7.943000,0.750000,56.201000,0.677000,-0.047000,0.821000,2021
1083,Afghanistan,2.5230,7.695000,0.463000,52.493000,0.382000,-0.102000,0.924000,2021

In [7]:
#obtain countries list for years 2018-2019
pre_countries = pre_covid['Country']
pre_countries

470                     Finland
471                      Norway
472                     Denmark
473                     Iceland
474                 Switzerland
                 ...
777                      Rwanda
778                    Tanzania
779                 Afghanistan
780    Central African Republic
781                 South Sudan
Name: Country, Length: 311, dtype: object

In [8]:
#obtain countries list for years 2020-2021
post_countries = post_covid['Country']
post_countries

782         Finland
783         Denmark
784     Switzerland
785         Iceland
786          Norway
           ...
1079        Lesotho
1080       Botswana
1081         Rwanda
1082       Zimbabwe
1083    Afghanistan
Name: Country, Length: 302, dtype: object

In [9]:
# using intersection to obtain common elements in a list
countries_list = (set(post_countries).intersection(set(pre_countries)))
countries_list

{'Afghanistan',
 'Albania',
 'Algeria',
 'Argentina',
 'Armenia',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahrain',
 'Bangladesh',
 'Belarus',
 'Belgium',
 'Benin',
 'Bolivia',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Central African Republic',
 'Chad',
 'Chile',
 'China',
 'Colombia',
 'Comoros',
 'Congo (Brazzaville)',
 'Congo (Kinshasa)',
 'Costa Rica',
 'Croatia',
 'Cyprus',
 'Czech Republic',
 'Denmark',
 'Dominican Republic',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Estonia',
 'Ethiopia',
 'Finland',
 'France',
 'Gabon',
 'Gambia',
 'Georgia',
 'Germany',
 'Ghana',
 'Greece',
 'Guatemala',
 'Guinea',
 'Haiti',
 'Honduras',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran',
 'Iraq',
 'Ireland',
 'Israel',
 'Italy',
 'Ivory Coast',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kosovo',
 'Kuwait',
 'Kyrgyzstan',
 'Laos',
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Lithuania',
 'Luxembourg',
 'Macedonia',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Mali',
 'Malta',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Moldova',
 'Mongolia',
 'Montenegro',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nepal',
 'Netherlands',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'North Macedonia',
 'Norway',
 'Pakistan',
 'Palestinian Territories',
 'Panama',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Romania',
 'Russia',
 'Rwanda',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Sierra Leone',
 'Singapore',
 'Slovakia',
 'Slovenia',
 'South Africa',
 'South Korea',
 'South Sudan',
 'Spain',
 'Sri Lanka',
 'Swaziland',
 'Sweden',
 'Switzerland',
 'Tajikistan',
 'Tanzania',
 'Thailand',
 'Togo',
 'Tunisia',
 'Turkey',
 'Turkmenistan',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'United States',
 'Uruguay',
 'Uzbekistan',
 'Venezuela',
 'Vietnam',
 'Yemen',
 'Zambia',
 'Zimbabwe'}

In [10]:
# using isin function to filter out countries that are not of interest
# verifying the isin function captures only the countries that are desired
filtered_out = interest_years[~interest_years['Country'].isin(countries_list)]
filtered_out

,Country,Happiness,GDP per Capita,Social Support,Life Expectancy,Freedom,Corruption,Generosity,Year
495,Taiwan,6.4410,1.365000,1.436000,0.857000,0.418000,0.151000,0.078000,2018
501,Qatar,6.3740,1.649000,1.303000,0.748000,0.654000,0.256000,0.171000,2018
507,Trinidad & Tobago,6.1920,1.223000,1.492000,0.564000,0.575000,0.171000,0.019000,2018
518,Belize,5.9560,0.807000,1.101000,0.474000,0.593000,0.183000,0.089000,2018
527,Northern Cyprus,5.8350,1.229000,1.211000,0.909000,0.495000,0.179000,0.154000,2018
545,Hong Kong,5.4300,1.405000,1.290000,1.030000,0.524000,0.246000,0.291000,2018
566,Bhutan,5.0820,0.796000,1.335000,0.527000,0.541000,0.364000,0.171000,2018
567,Somalia,4.9820,0.000000,0.712000,0.115000,0.674000,0.238000,0.282000,2018
606,Sudan,4.1390,0.605000,1.240000,0.312000,0.016000,0.134000,0.082000,2018
611,Angola,3.7950,0.730000,1.125000,0.269000,0.000000,0.079000,0.061000,2018
619,Syria,3.4620,0.689000,0.382000,0.539000,0.088000,0.376000,0.144000,2018
650,Taiwan,6.4460,1.368000,1.430000,0.914000,0.351000,0.242000,0.097000,2019
654,Qatar,6.3740,1.684000,1.313000,0.871000,0.555000,0.220000,0.167000,2019
664,Trinidad & Tobago,6.1920,1.231000,1.477000,0.713000,0.489000,0.185000,0.016000,2019
689,Northern Cyprus,5.7180,1.263000,1.252000,1.042000,0.417000,0.191000,0.162000,2019
701,Hong Kong,5.4300,1.438000,1.277000,1.122000,0.440000,0.258000,0.287000,2019
720,Bhutan,5.0820,0.813000,1.321000,0.604000,0.457000,0.370000,0.167000,2019
737,Somalia,4.6680,0.000000,0.698000,0.268000,0.559000,0.243000,0.270000,2019
774,Syria,3.4620,0.619000,0.378000,0.440000,0.013000,0.331000,0.141000,2019
806,Taiwan Province of China,6.4554,10.775685,0.894309,69.599998,0.771530,-0.073199,0.731883,2020
823,Trinidad and Tobago,6.1919,10.260002,0.915294,63.500000,0.857907,0.000527,0.912231,2020
857,North Cyprus,5.5355,10.405703,0.820357,73.702225,0.795294,0.000227,0.626116,2020
859,Hong Kong S.A.R. of China,5.5104,10.934671,0.845969,76.771706,0.779834,0.134980,0.420607,2020
868,Maldives,5.1976,9.518633,0.913161,70.599998,0.853963,0.038085,0.824211,2020
958,Taiwan Province of China,6.5840,10.871000,0.898000,69.600000,0.784000,-0.070000,0.721000,2021
1008,North Cyprus,5.5360,10.576000,0.820000,73.898000,0.795000,0.012000,0.626000,2021
1011,Hong Kong S.A.R. of China,5.4770,11.000000,0.836000,76.820000,0.717000,0.067000,0.403000,2021
1023,Maldives,5.1980,9.826000,0.913000,70.600000,0.854000,0.024000,0.825000,2021

In [11]:
# using isin function to retain only the countries of interest
# as ascertained by the countries_list
filtered = interest_years[interest_years['Country'].isin(countries_list)]
filtered

,Country,Happiness,GDP per Capita,Social Support,Life Expectancy,Freedom,Corruption,Generosity,Year
470,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393,2018
471,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340,2018
472,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408,2018
473,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138,2018
474,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357,2018
...,...,...,...,...,...,...,...,...,...
1079,Lesotho,3.512,7.926,0.787,48.700,0.715,-0.131,0.915,2021
1080,Botswana,3.467,9.782,0.784,59.269,0.824,-0.246,0.801,2021
1081,Rwanda,3.415,7.676,0.552,61.400,0.897,0.061,0.167,2021
1082,Zimbabwe,3.145,7.943,0.750,56.201,0.677,-0.047,0.821,2021
1083,Afghanistan,2.523,7.695,0.463,52.493,0.382,-0.102,0.924,2021

In [12]:
#read data to csv
filtered.to_csv("happiness_years.csv")