In [9]:
import pandas as pd
import pymongo
import requests

In [10]:
# Reading in the JSON file
happiness_df = pd.read_json("happiness_data/j.json")

In [11]:
# connecting to MongoDB
# https://docs.mongodb.com/manual/reference/default-mongodb-port/
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

# Define the 'happiness' database in Mongo
db = client.world_happiness

In [12]:
#inserting records into MongoDB
db.collection.insert_many(happiness_df.to_dict('records'))

In [7]:
happiness_df.to_csv("happiness.csv")

In [8]:
happiness_df

,Country,latitude,longitude,Metrics
0,Afghanistan,33.939110,67.709953,"[{'Corruption': 0.09719000000000001, 'Freedom'..."
1,Albania,41.153332,20.168331,"[{'Corruption': 0.06413, 'Freedom': 0.35733000..."
2,Algeria,28.033886,1.659626,"[{'Corruption': 0.17383, 'Freedom': 0.28579000..."
3,Angola,-11.202692,17.873887,"[{'Corruption': 0.07122, 'Freedom': 0.10384, '..."
4,Argentina,-38.416097,-63.616672,"[{'Corruption': 0.08484000000000001, 'Freedom'..."
...,...,...,...,...
148,Venezuela,6.423750,-66.589730,"[{'Corruption': 0.11069000000000001, 'Freedom'..."
149,Vietnam,14.058324,108.277199,"[{'Corruption': 0.10441, 'Freedom': 0.59444000..."
150,Yemen,15.552727,48.516388,"[{'Corruption': 0.07854000000000001, 'Freedom'..."
151,Zambia,-13.133897,27.849332,"[{'Corruption': 0.12468000000000001, 'Freedom'..."
152,Zimbabwe,-19.015438,29.154857,"[{'Corruption': 0.08079, 'Freedom': 0.25861, '..."